*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --background: rgb(24, 24, 24);
    --second-background: rgb(21, 21, 21);

}

body{
    min-height: 100vh;
    background-color: var(--background);

}

header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1em 15%;
    background-color:  rgba(15, 15, 15, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}


.logo{
    font-size: 25px;
    color: white;
    opacity: 0.7;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    opacity: 1;
}


nav{
    display: flex;
    align-items: center;
    gap: 3em;
}

.navbar a{
    font-size: 18px;
    color: white;
    opacity: 0.7;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.2s ease-in-out;
}

.navbar a:hover,
.navbar a.active{
    opacity: 1;
}

.contact {
    padding: 0.5em 1em;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 8px;
    font-size: 16px;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.contact:hover{
    background-color: white;
    color: var(--background);
}

span{
    background: linear-gradient(to right, #be7abb, #cf9bcc);
    background-clip: text;
    color: transparent;
    
}

#menu{
    color: white;
    font-size: 3em;
    display: none;
}

section{
    min-height: 100vh;
    /* padding-top: 10%;
    padding-bottom: 10%; */
    /* padding: 5% 15%; */
}

#home{
    width: 100%;
    min-height: 100vh;
    color: white;
    display: flex;
    gap: 5em;
    align-items: center;
    justify-content: center;

}

.home-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 600px;
    opacity: 0.8;
    gap: 2em;
    }

.home-content h3{
    font-size: 40px;
}

.home-content h1{
    font-size: 50px;    
}

.home-content p{
    color: white;
    opacity: 0.8;
    font-size: 20px;
    margin: 2em 0 3em;

}

.img-box img{
    border-radius: 50%;
    width: 500px;
    position: relative;
}

::-webkit-scrollbar{
    width: 15px;
    background-color: var(--background);
}

::-webkit-scrollbar-thumb{
    background-color: linear-gradient(to bottom, #be7abb, #cf9bcc);
}

#about {   
    width: 100%;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    background-color: var(--second-background);
}

.about-img img{
    position: relative;
    width: 500px;
    border-radius: 50%;
}

.about-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2em;
    max-width: 600px;
    opacity: 0.8;
}

.about-content h1{
    font-size: 60px;
}

.about-content h3{
    font-size: 40px;
}

.about-content p{
    color: white;
    opacity: 0.8;
    font-size: 20px;
    margin: 2em 0 3em;
}
/* 
#about h2{
    font-size: 36px;

}
.skills{
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 2em;
}

.skills ul{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    color: white;
    opacity: 0.8;
    align-items:baseline;
}


.skills ul li span{
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 18px;
    transition: 0.3s ease-in-out;
}

.skills ul li span:hover{
    transform: translateX(10px);
}

.skills ul li i{
    font-size: 18px;
} */ 

#contact-form{
    background-color: var(--second-background);
}

#contact-form h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    padding: 8% 0 3% 0;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

form .input-box{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1em;
}

.input-box span{
    font-size: 22px;
}

form input{
    font-size: 22px;
    padding: 0.5em 6em;
    border-radius: 0.5em;
    border: none;
    outline: none;
}

form input:focus{
    background: rgb(229, 229, 229);
}

.btn-box {
    width: 345px;
    display: flex;
    gap: 2em;
    justify-content: center;
    padding-left: 15em;
}

.btn-1{
    padding: 15px 28px;
    background: white;
    color: var(--background);
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-1:hover{
    background-color: var(--background);
    color: white;
    border: 2px solid white;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: var(--background);
}

.footer .copyright{
    text-align: center;
    font-size: 15px;
}